* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: palevioletred;
    text-align: center;
}

body {
    background-color: papayawhip;
    /*background-image: url('./images/Bob-Ross.webp');*/
    background-size: 20%;
}

.bgClass {
    background-image: url('./images/Bob-Ross.webp');
}

h1 {
    font-size: 76px;
    margin: 32px;
}

button {
    background-color: rgb(177, 197, 202);
    box-sizing: border-box;
    height: 56px;
    width: 160px;
    font-size: 24px;
    padding: 12px 0px;
    border-style: solid;
    border-color: darkblue;
    border-radius: 4px;
}

.main {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.container,
.side {
    background-color: aliceblue;
    border-style: solid;
    border-width: 8px;
    border-radius: 16px;
    border-color: aliceblue;
}

.container {
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-self: center;
}

.side {
    box-sizing: border-box;
    padding: 16px;
    height: 616px;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

#right button {
    width: 160px;
}