body {
    background-image: url('./images/Bob-Ross.webp');
    background-size: 20%;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
}