body {
    background-image: url('./images/Bob-Ross.webp');
    background-size: 20%;
}

.container {
    margin: auto;
    margin-top: 160px;
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
    background-color: aliceblue;
    border-style: solid;
    border-width: 8px;
    border-color: aliceblue;
    border-radius: 8px;
}

.block {
    background-color: aliceblue;
}